$orange: #f16522;
$main-font: "Teko", sans-serif;
.explaining {
  width: 60vw;
  margin: 0 auto;
}
.explaining h1,
.explaining-para p {
  font-family: $main-font;
}
.explaining h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 50.4px;
  letter-spacing: 2px;
  margin-top: 107px;
}
.orange {
  color: $orange;
}
.explain-para {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2vh;
}
.explain-para p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25.6px;
}
.service-1 {
  width: 100%;
  height: 100%;
  background-image: url("../../images/service-1.png");
}
.service-2 {
  background-image: url("../../images/service-2.png");
}
.service-3 {
  background-image: url("../../images/service-3.png");
}
.service-4 {
  background-image: url("../../images/service-4.png");
}
.main-servicers {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.projekt-servicers {
  display: flex;
  flex-direction: column;
  // width: 25%;
}
.projekt-servicers img {
  object-fit: contain;
}
.projekt-servicers h3 {
  font-family: $main-font;
}
.projekt-servicers p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 25.6px;
}
.projekt-servicers h3 {
  color: #11435f;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 23.4px;
  text-transform: uppercase;
  white-space: pre-wrap;
  word-spacing: 0px;
  text-align: center;
  font-weight: 150;
}
